.LineItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  .text {
    font-weight: 400;
    font-style: 12px;
    color: #000;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;

    // &:hover {
    //   white-space: normal;
    // }
  }

  .LineContainer {
    display: flex;

    .line {
      color: #68b1ff33;
      background-color: #68b1ff33;
      height: 16px;

      hr {
        border: 0;
      }
    }

    .endLine {
      color: #68b1ff;
      background-color: #68b1ff;
      height: 16px;
      width: 3px;
      margin-right: 8px;
      border-radius: 3px;

      hr {
        border: 0;
      }
    }
  }

  .LineItemContainer {
    display: flex;

    font-weight: 400;
    font-style: 12px;

    .percent {
      color: #000;
      margin-right: 2px;
    }

    .symbol {
      color: #bbb;
    }
  }
}
