.head {
  display: flex;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 34px;
  }

  .inside {
    display: flex;
    font-style: 14px;
    color: #0066ff;
    align-items: center;

    .insideImage {
      background-image: url(./icons/inside.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }

  // .calendar {
  //   display: flex;
  //   align-items: center;
  //   font-size: 16px;
  //   color: #939393;
  //   margin-bottom: 24px;

  //   .timeButton {
  //     display: flex;
  //     margin-right: 16px;
  //     align-items: center;
  //     justify-content: center;

  //     .chevron {
  //       background-size: cover;
  //       margin: 0 3px;
  //     }
  //   }
  // }
}
